body {
    font-family: "Cerebri Sans", Helvetica, Arial, sans-serif;
}
h1 {
    color: #878787;
    font-size: 24px;
    font-weight: 100;
    line-height: 28px;
    margin-bottom: 0;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
    margin: 0;
    padding: 0;
    color: rgb(135, 135, 135);
    font-size: 16px;
    font-weight: 100;
    line-height: 19px;
}
li:first-letter {
    text-transform:capitalize;
}
.weather-app-wrapper {
    max-width: 600px;
    margin: 30px auto;
}
.weather-app {
    padding: 20px;
    border: 1px solid #dadde1;
    border-radius: 10px;
    background: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}
.overview {
    margin-bottom: 20px;
}
.weather-temperature img{
margin-right: 12 px;
height: 64px;
width: 64px;

}
.weather-temperature strong {
    color: rgba(110, 58, 110, 0.959);
    font-size: 64px;
    line-height: 1;
    font-weight: 400;
}
.weather-temperature .units {
    color: rgba(110, 58, 110, 0.959);
    position: relative;
    font-size: 16 px;
    top: -33px;
}
.weather-temperature .active {
    color:black;
    cursor: default;
    text-decoration: none;
}
